body{
    background-color: #232325; ;
}
.container {
    display: flex;
    flex-direction: column;
  }
img{
    border-radius: 2%;
    border: 3px solid rgb(255, 255, 255);
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}